.app__header {
  margin-bottom: 20px;
}

.countryselector {
  background-color: white;
  box-shadow: 0 8px 6px -6px black;
  width: 200px;
  min-width: 150px;
}

.app__name {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
